<% provide(:title, "About Us | Prescience Health") %>
<div class="about">
  <div class="container">
    <div class="row text-center py-7">
      <div class="offset-2 col-8">
        <h3 class="page-title font-weight-bold">About Us</h3>
      </div>
    </div>
    <div class="row text-center pb-7">
      <div class="offset-2 col-8">
        <p>Prescience Health helps hospitals forecast patient volumes and optimize staffing. We work to ensure that hospital staff have scheduling predictability and patients have the appropriate coverage. Our algorithms and software are customizable and scale to fit the needs of your hospital or department.</p>
      </div>
    </div>
    <!-- Team -->
    <div class="row about-team pb-4">
      <div class="offset-md-2 col-md-2 col-6">
        <%= link_to image_tag("hiro.jpg", alt: "Hiro Kawashima", class: "rounded-circle mb-3"),
        '/' %>
      </div>
      <div class="col-md-6 col-12">
        <h5 class="team-name">Hiro Kawashima</h5>
        <h6 class="team-title">Chief Executive Officer</h6>
        <p class="text-justify">Hiro joined Prescience Health in 2017. As CEO, he directs strategy and leads the Prescience Health team. Prior to Prescience Health, Hiro served in various commercial functions for GE Healthcare Digital, a $1.5 billion unit within GE Healthcare that develops and sells enterprise imaging and hospital administration software. In his most recent role, he lead all commercial activities for ten strategic clients across the United States. Hiro also rotated through in a corporate leadership program at GE.</p>
      </div>
    </div>
    <div class="row about-team py-4">
      <div class="offset-md-2 col-md-2 col-6">
        <%= link_to image_tag("scott.jpg", alt: "Scott Duncan", class: "rounded-circle mb-3"),
        '/' %>
      </div>
      <div class="col-md-6 col-12">
        <h5 class="team-name">Scott Duncan</h5>
        <h6 class="team-title">Chief Technology Officer</h6>
        <p class="text-justify">Scott is the founder and CTO of Prescience Health. As CTO, he leads product development efforts for the company. Scott has more than 20 years of experience developing software solutions, primarily for healthcare providers. Prior to founding Prescience Health, Scott served as the Chief Information Officer for Sg2, a leading healthcare intelligence consultancy. Prior to Sg2, Scott was the Vice President of Information Delivery Systems for Sachs Group (now Thomson Reuters Healthcare), the premier provider of strategic planning products for healthcare organizations.</p>
      </div>
    </div>
    <div class="row py-4">
      <div class="offset-md-2 col-md-2 col-6">
        Coming soon
      </div>
      <div class="col-md-6 col-12">
        <h5 class="team-name">Kevin Yochum</h5>
        <h6 class="team-title">Sr. Software Engineer</h6>
        <p class="text-justify">Kevin joined Prescience Health in 2018. As Sr. Software Engineer, he architects and leads the development of the StaffRight application. Kevin has more than 23 years of architecting and engineering experience, and worked for companies including GE and Northrop Grumman.</p>
      </div>
    </div>
    <div class="row about-team py-4">
      <div class="offset-md-2 col-md-2 col-6">
        Coming soon
      </div>
      <div class="col-md-6 col-12">
        <h5 class="team-name">Jack Dudek</h5>
        <h6 class="team-title">Operations, Advisor</h6>
        <p class="text-justify">Jack serves as an advisor and assists with operations for Prescience Health. Jack has over 30 years of experience in day-to-day healthcare operations, specifically, skilled nursing facilities, hospitals, assisted living facilities, independent living facilities and HUD housing. Prior to joining Prescience Health, Jack was a department manager at Provena Medical Center, Regional Vice President at Provena Senior Services, and Director of Operations at Platinum Healthcare.</p>
      </div>
    </div>
    <div class="row about-team pt-4">
      <div class="offset-md-2 col-md-2 col-6">
        <%= link_to image_tag("chris.png", alt: "Chris Looby", class: "rounded-circle mb-3"),
        '/' %>
      </div>
      <div class="col-md-6 col-12">
        <h5 class="team-name">Christoper Looby</h5>
        <h6 class="team-title">Business Development, Advisor</h6>
        <p class="text-justify">Chris serves as an advisor and assists with business development for Prescience Health. Prior to joining Prescience Health, Chris was the Director of Corporate Health Services at Provena Saint Therese Medical Center. He has also held sales and marketing positions at Resurrection Healthcare and Ballard Healthcare. Chris has also been the president of the Chicago Health Executives Forum – the American College of Healthcare Executive's largest independent chapter – and has served on the ACHE Regents Advisory Council since 1996.</p>
      </div>
    </div>
    <!-- Advisors -->
    <div class="row text-center py-7">
      <div class="offset-2 col-8">
        <h3 class="page-title font-weight-bold">Advisors</h3>
      </div>
    </div>
    <div class="row about-advisors pb-7">
      <div class="col-6 col-md-4 text-center mobile-mb">
        <%= link_to image_tag("harneet.png", alt: "Dr Harneet Bath", class: "rounded-circle mb-3"),
        '/' %>
        <h5 class="team-name">Dr. Harneet Bath</h5>
        <h6 class="team-title mb-0">Chief Medical Officer, OSF St. Anthony</h6>
      </div>
      <div class="col-6 col-md-4 text-center mobile-mb">
        <%= link_to image_tag("michael.jpg", alt: "Michael Marasco", class: "rounded-circle mb-3"),
        '/' %>
        <h5 class="team-name">Michael Marasco</h5>
        <h6 class="team-title mb-0">Prof. Northwestern University</h6>
      </div>
      <div class="col-6 col-md-4 text-center">
        <%= link_to image_tag("verinder.jpg", alt: "Verinder Syal", class: "rounded-circle mb-3"),
        '/' %>
        <h5 class="team-name">Verinder Syal</h5>
        <h6 class="team-title mb-0">Prof. Northwestern University</h6>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/action' %>