<% provide(:title, "For hospitals | Prescience Health") %>
<div class="staffright">
  <div class="staffright-top bg-ph-light-blue">
    <div class="container">
      <div class="row py-6">
        <div class="col-12 col-md-6 mobile-mb">
          <%= link_to image_tag("staffright_video.png", alt: "StaffRight home screen"), demo_path %>
        </div>
        <div class="col-12 col-md-6 my-auto">
          <h3 class="font-weight-bold ">Explore StaffRight</h3>
          <p class="text-justify">Leverage advanced mathematical models to predict patient volumes in four hour increments by shift, day, week, or month. Overlay staff scheduling data and coverage rules from Cerner, Kronos, API, or ShiftWizard to make accurate real-time decisions.</p>
          <p><%= link_to "View a 3-minute demo", demo_path %> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="staffright-bottom py-6">
    <div class="container">
      <div class="row pb-3">
        <div class="col-12 col-md-6 my-auto">
          <h3>Oversee your department</h3>
          <p class="text-justify">StaffRight is your staffing command center. From the home screen, immediately view staffing alerts, department activity including census and ADT activity, and your staffing schedule.</p>
        </div>
        <div class="col-12 col-md-6 align-center">
          <%= link_to image_tag("staffright_home.png", alt: "StaffRight home screen") %>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-12 col-md-6 align-center">
          <%= link_to image_tag("staffright_alerts.png", alt: "StaffRight alerts screen") %>
        </div>
        <div class="col-12 col-md-6 my-auto">
          <h3>Receive actionable alerts</h3>
          <p class="text-justify">StaffRight's alerts screen provides a list of actionable alerts ranging from high and low census alerts, to over and understaffing alerts. Customize how and when you receive alerts.</p>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-12 col-md-6 my-auto">
          <h3>Core schedule planning</h3>
          <p class="text-justify">Use StaffRight's planner to align your core schedule with forecasted census. StaffRight can forecast up to 16 months out and provides you with powerful tools to ensure that you have the right coverage across departments.</p>
        </div>
        <div class="col-12 col-md-6 align-center">
          <%= link_to image_tag("staffright_core.png", alt: "StaffRight planner screen") %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/action' %>