<% provide(:title, "Schedule a demo | Prescience Health") %>
<div class="demo">
  <div class="demo-top bg-ph-light-blue">
    <div class="container">
      <div class="row py-6">
        <div class="col-12 col-md-4">
          <h3 class="page-title font-weight-bold pb-4">Schedule a Demo</h3>
          <p class="text-justify">Leverage advanced mathematical models to predict patient volumes in four hour increments by shift, day, week, or month. Overlay staff scheduling data and coverage rules from API Healthcare, Cerner, or Kronos to make accurate real-time decisions.</p>
          <%= form_for @contact do |f| %>
          <% if flash[:error].present? %>
              <p class="error text-danger">Please make sure that you filled out all of the fields and submit again.</p>
          <% end %>
          <div class="form-group">
            <%= f.label :name %> <br>
            <%= f.text_field :name, required: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %> <br>
            <%= f.text_field :email, required: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :telephone %> <br>
            <%= f.text_field :telephone, required: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :institution %> <br>
            <%= f.text_field :institution, required: true, class: 'form-control' %>
          </div>
          <div class="form-group contact-hidden">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>
          <%= f.submit 'Submit', class: "btn btn-primary btn-ph-green" %>
        <% end %>
        </div>
        <div class="col-12 offset-md-1 col-md-7 my-auto mobile-mb">
          <%= link_to image_tag("staffright_home_raw.png", alt: "Staffright Home") %>
        </div>
      </div>
    </div>
  </div>
</div>