<% provide(:title, "Contact Us | Prescience Health") %>
<div class="contact">
  <div class="container">
    <div class="row text-center py-6">
      <div class="offset-2 col-8">
        <h3 class="page-title font-weight-bold">Contact Us</h3>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-3 col-md-6 col-12">
        <%= form_for @contact do |f| %>
          <% if flash[:error].present? %>
              <p> flash[:error]</p>
          <% end %>
          <div class="form-group">
            <%= f.label :name %> <br>
            <%= f.text_field :name, required: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %> <br>
            <%= f.text_field :email, required: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :message %> <br>
            <%= f.text_area :message, as: :text, class: 'form-control' %>
          </div>
          <%= f.label :nickname %> <br>
          <%= f.text_field :nickname, hint: 'leave this field blank' %>
          <%= f.submit 'Send Message', class: "btn btn-primary btn-ph-green" %>
        <% end %>
      </div>
    </div>
  </div>
</div>